body {
	margin: 0;
	padding: 10px;
}
h1 {
	margin: 0;
	padding: 0;
}
#header {
	padding: 30px 0 10px 20px;
	background-color: #F9E9E9;
}
#wrapper {
	margin-top: 10px;
}
#sidebar {
	float: left;
	width: 100px;
	background-color: #E9F9E9;
}
#main-content {
	background-color: #E9E9F9;
	margin-left: 110px;
	padding: 10px;
}
h2 {
	margin: 10px 0;
}
